
.container{
    display: flex;
    /* position: relative; */
    justify-content:center;
    align-items:center;
    
}
.card {

    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}
.card:hover {
    transform: scale(1.02);
}
.btn-danger {
    transition: background-color 0.3s ease-in-out;
}
.btn-danger:hover {
    background-color: #dc3545;
    opacity: 0.8;
}
h3, h4 {
    color: #343a40;
}
a {
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}
.header {
    width: 100%;
    position: relative;
    top: 0px;
    background-color: #343a40;
    padding: 10px 0;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.li a.active {
    color: #007bff;
}